/*style for a.*/

html, body {
    background-color: aqua;
    display: flex;
    margin: 20px;
    color:white;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.align{
    text-align: fixed;
    font-family: 'Courier New', Courier, monospace;
}

.btn{
    background-color: aliceblue;
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 50px;
    border: 3px solid #73AD21;
    text-align: center;
    width: 50px;
    float: left;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: auto;
}